<div class="pricipal-div">
    <img src="../assets/starsDark.jpg" alt="">
    <div class="satelites-info-container">
      <h1>consola ayuda imperial</h1>
      <div class="satelites-container">


      </div>
  
  
      <div>
        <label for="">Escribir Mensaje</label>
  
    
  
      <div class="banners">
        <div class="img-container">
          <h2>consola imperial</h2>
          <img class="img-banner" src="../assets/banner-imperio.jpg" alt="">
        </div>
        <div class="img-container">
          <h2>consola rebelde</h2>
          <img class="img-banner" src="../assets/banner-alianza.jpg" alt="">
        </div>
      </div>
    </div>
    <img src="../assets/starsDark.jpg" alt="">
  
  
  </div>
