
@import url('https://fonts.cdnfonts.com/css/star-wars');
.pricipal-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
label{
    color: rgb(39, 180, 65);
    font-size: 1.5rem;
    font-family: 'Star Wars', sans-serif;
    margin-bottom: 3px;

}
select{
    width: 100%;
    border-radius: 4px;
    border: solid rgb(39, 180, 65) 3px;
    background-color: transparent;
    color: gray;
    font-size: 1.5rem;
    font-family: 'Star Wars', sans-serif;
    vertical-align: middle;
    height: 36px;

}
th{
    color: rgb(39, 180, 65);
}
td{
    color: rgb(180, 205, 185);
    margin-left: 51px;
    
}
tr{
    display: flex;
    flex-direction: column;
}
h3{
   color:  rgb(206, 206, 164);
}
h4{
    color: rgb(39, 180, 65);
}
.format-info p{
   color: rgb(39, 180, 65);
   margin: 0px 0px 0px 25px;
}
input{
    width: 100%;
    border-radius: 4px;
    border: solid rgb(39, 180, 65) 3px;
    background-color: transparent;
    color: gray;
    font-size: 1.5rem;
    font-family: 'Star Wars', sans-serif;
    font-weight: bolder;
    margin-left: 5px;
    text-align: center;
}
textarea{
    font-size: 1rem;
    color: rgb(180, 205, 185);
    background-color: transparent;
    font-family: 'Star Wars', sans-serif;
    padding: 5px;
    margin: 6px 0px 10px 0px;
    width: 100%;
}
h1{
    color: rgb(206, 206, 164);
    font-family: 'Star Wars', sans-serif;
    width: 100%;
    text-align: center;
    
}
h2{
    color: rgb(180, 205, 185);
    font-family: 'Star Wars', sans-serif;
    text-indent: 15px;
}
img{
    height: 100vh;
    width: 250px;
}

.satelites-info-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.satelites-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0px 40px 0px;
}
.satelite-div{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.distace-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.format-info{
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px ;
    border: solid rgb(206, 206, 164) 3px;
    display: flex;
    flex-direction: column;
}
.close-popUp{
    height: 30px;
    background-color: transparent;
    color: rgb(39, 180, 65);
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}
.close-popUp:hover{
    font-size: 23px;
}

.show-popUp-button{
    width: 200px;
    background-color:  rgb(39, 180, 65);
    border: solid  rgb(206, 206, 164) 3px;
    align-self: flex-end;
    font-family: 'Star Wars', sans-serif;
    font-size: 1rem;
    border-radius: 0px 6px 6px 0px;
    color: rgb(221, 221, 13) 3px;
    height: 30px;
    cursor: pointer;
}
.show-popUp-button:hover{
    width: 205px;
    height: 32px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.banners{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-self: flex-end;
    justify-content: space-between;
    margin-top: auto;
}
.banners h2{
    text-align: center;
}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}
.img-banner{
    width: 180px;
    height: 160px;
    cursor: pointer;
}
.custom-alert-container {
    background-color: black;
    color: rgb(39, 180, 65);
  }

