
<div>
  <div>
    <select name="" id="0" (change)="sateliteSelectChange($event)">
      <option disabled selected></option>
      <option name="satelite1" [value]="satelite.sateliteId" *ngFor="let satelite of satelitesList">
        {{satelite.sateliteName}}</option>
    </select>
    <div *ngIf="this.satelitesSelected[0]">
      <label for="">Distancia</label>
      <input type="number" (change)="distanceChange(0,$event)">
    </div>

  </div>
  <div >
    <select name="" id="1" (change)="sateliteSelectChange($event)">
      <option disabled selected></option>
      <option name="satelite2" [value]="satelite.sateliteId" *ngFor="let satelite of satelitesList">
        {{satelite.sateliteName}}</option>
    </select>
    <div *ngIf="this.satelitesSelected[1]">
      <label for="">Distancia</label>
      <input type="number" (change)="distanceChange(1,$event)">
    </div>

  </div>
  <div >
    <select name="" id="2" (change)="sateliteSelectChange($event)">
      <option disabled selected></option>
      <option name="satelite3" [value]="satelite.sateliteId" *ngFor="let satelite of satelitesList">
        {{satelite.sateliteName}}</option>
    </select>
    <div *ngIf="this.satelitesSelected[2]">
      <label for="">Distancia</label>
      <input type="number" (change)="distanceChange(2,$event)">
    </div>

  </div>



</div>

<div>
  <label for="">Escribir Mensaje</label>
  <input type="text" (change)="encryptMessage($event)">
</div>